certifi==2020.12.5
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
cryptography==3.4.7
cssselect==1.1.0
greenlet==1.1.0
idna==2.10
importlib-metadata==4.6.3
lxml==4.6.3
protobuf==3.15.8
psycopg2==2.9.1
pycparser==2.20
PyMySQL==1.0.2
requests==2.25.1
selenium==3.141.0
six==1.15.0
SQLAlchemy==1.4.15
typing-extensions==3.10.0.0
urllib3==1.26.4
zipp==3.5.0
